* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    /* Color styles */
--darkblue: #0084FD;
--primarylight: #FFFFFF;
--textgreycolor:#718aa0;
--violet: #9792E4;
--bg-lightblue: #B5DDFF;
--darkfooter: #333333;
--accentcolor: #FDC15F;

}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'PT Sans', sans-serif;
}
header {
    background-color: var(--darkblue);
    width: 100%;
    position:fixed;
    top:0;
    left:0;
}
nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:100px;
}
main {
    margin-top:140px;
}

.hambmenu i {
    color:var(--primarylight);
    font-size:1.5rem;
    display:none;
}

.card {
    background-color: var(--bg-lightblue);
    border-radius:10px;
    padding-top:20px;

}

.card:not(#demo) {
    padding-bottom:20px;
}

.card img {
    width: 100%;
}

.title {
    font-weight: bold;
    color:var(--darkblue);
}

.text {
    font-weight: bold;
    color:var(--textgreycolor);
    line-height: 24px;

}


.cardimg {
    display:flex;
}

.button {
    padding:15px;
    text-align: center;
    border-radius: 13px;
    background-color: var(--darkblue);
    color:var(--primarylight);
    text-decoration: none;
    font-weight: bold;
    letter-spacing:4px;
}

.button i {
    margin-right:4px;
}


.icon {
    font-size:5rem;
    text-align: center;
    color:var(--darkblue);
}

/* MOBILE FIRST */
@media only screen and (min-width: 425px) {
ul li {
    display:none;
}

.container {
    width: 330px;
    margin:0 auto;
} 

.hambmenu i {
    display:block;
}
}

.flex {
    display:flex;
    flex-flow: column nowrap;
    gap:30px;
}

.contentcard {
    width: 80%;
    margin:0 auto;
}

.card {
    margin-bottom:20px;
}



.textcenter {
    text-align: center;
}

.m60 {
    margin-bottom:60px;
}