* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Color styles */
    --darkblue: #0084FD;
    --primarylight: #FFFFFF;
    --textgreycolor: #718aa0;
    --violet: #9792E4;
    --bg-lightblue: #B5DDFF;
    --darkfooter: #333333;
    --accentcolor: #FDC15F;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'PT Sans', sans-serif;
}

header {
    background-color: var(--darkblue);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index:10000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

main {
    margin-top: 100px;
}

img {
    width: 100%;
}

ul li {
    display: none;
}

section {
    padding: 50px 0 50px 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding:35px;
}

.hambmenu i {
    color: var(--primarylight);
    font-size: 1.5rem;
}

.card {
    background-color: var(--bg-lightblue);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;

}

.card:not(#demo) {
    padding-bottom: 20px;
}

.card img {
    width: 100%;
}

.title {
    font-weight: bold;
    color: var(--darkblue);
}

.text {
    font-weight: bold;
    color: var(--textgreycolor);
    line-height: 24px;

}


.cardimg {
    display: flex;
}

.button {
    padding: 15px;
    text-align: center;
    border-radius: 13px;
    background-color: var(--darkblue);
    color: var(--primarylight);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 4px;
}

.benefbutton {
    background-color: var(--violet);
    color:var(--primarylight);
    align-self: baseline;
    padding:10px 40px 10px 40px;
    border-radius:15px;
}

.button i {
    margin-right: 4px;
}


.icon {
    font-size: 5rem;
    text-align: center;
    color: var(--darkblue);
}

.planningtitle {
    padding: 80px 0 20px 0;
    font-size: 2rem;
    color: var(--primarylight);
    font-weight: bold;
}

.even {
    background-color: var(--violet);
}

.plan {
    color: var(--primarylight);
    font-weight: 300;
    padding-bottom: 30px;
}

.testimonialbio {
    line-height: 30px;
    font-size: 1.2rem;
}

.bioabout {
    width: 70%;
    font-weight: bold;
}

.actionbio {
    font-size:2.5rem;
}

.calltoactiontitle{
    color:var(--accentcolor);
    font-size:4rem;
}

.bg-white {
    background-color: var(--primarylight);
}

.white {
    color: var(--primarylight);
}

.textcenter {
    text-align: center;
}

.contentcard {
    width: 80%;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
}

.black {
    color: black;
}

.italicspaced {
    line-height: 30px;
    font-style: italic;
    font-weight: 300;
}

.bradius {
    border-radius: 50px;
}

.circle {
    height: 50px;
    width: 50px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: var(--violet);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circleframe {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.circleframe img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.number {
    font-size:3rem;
    font-weight: bold;
}

.linkedin
{
    letter-spacing: 0px;;
    padding:8px 25px 8px 25px;
}

.getstarted {
 background-color: var(--primarylight);
 border-radius:50px;
 align-self: flex-start;
 margin:0 auto;
 padding:20px 80px 20px 80px;
 text-decoration: none;
 font-size:1.2rem;
 letter-spacing: 2px;
 font-weight: bold;

}


.smalltitle {
    font-size: 1rem;
}

.bigtitle {
    font-size: 2rem;
}

.violet {
    color: var(--violet);
}

.bg-violet {
    background-color: var(--violet);
}

.pb30 {
    padding-bottom: 30px;
}

.m20 {
    margin-top: 20px;
}

.p20 {
    padding:20px;
}

.smalltext {
    font-weight: 300;
}

.titlexl {
    font-size:3rem;
}

.lh35 {
    line-height: 35px;
}

.sSize {
    font-size:1.3rem;
}

.bold {
    font-weight: bold;
}



/* QUOTES ON IMG */
.nomargin {
    margin:0;
    
}

.quotes {
    position:relative;
    width: 200px;
    height: 200px;
}

.quotes span {
    position:absolute;
    top:-47px;
    left:131px;
    font-size:13rem;
}
/* MOBILE FIRST */
@media only screen and (min-width: 768px) {